<div class="reveal">
  <!-- <div class="sains-logo"></div> -->
  <a href="{{ page.url | relative_url }}#">
    <div class="sains-logo"></div>
  </a>
  <!-- Include the page.html file -->
  <div class="slides">
    {% include page2.html %}
  </div>

  {% if page.theme == 'sains' %}
  <div class="custom-footer">
    <div class="custom-footer-text">www.sains.com.my</div>
  </div>
  {% else %}
  <div class="custom-footer">
    <div class="custom-footer-text" font-size="14px">www.sains.com.my</div>
  </div>
  {% endif %}
</div>
