<!-- first page -->
{% if page.theme == 'sains' %}
<section
  data-background-image="{{ site.baseurl }}/dist/theme/img/sains_bg_2.jpg"
  data-background-size="cover"
  data-background-repeat="no-repeat"
>
  <div class="container">
    <div class="col"></div>
    <div class="col">
      <h1 class="rightside">{{page.title}}</h1>
      <br />
      {% if page.description %}
      <p class="rightside">{{page.description}}</p>
      <br />
      {% endif %}
      <hr />
      {% if page.location%}
      <p class="rightside">{{page.location}}</p>
      {% endif %}
      {% if page.date%}
      <p class="rightside">{{page.date}}</p>
      {% else %}
      <p class="rightside" id="date"></p>
      {% endif %}
    </div>
  </div>
</section>
{% else %}
<section>
  <div class="container">
    <div class="col">
      <h1 class="rightside">{{page.title}}</h1>
      <br />
      {% if page.description %}
      <p class="rightside">{{page.description}}</p>
      <br />
      {% endif %}
      <hr />
      {% if page.location%}
      <p class="rightside">{{page.location}}</p>
      {% endif %}
      {% if page.date%}
      <p class="rightside">{{page.date}}</p>
      {% else %}
      <p class="rightside" id="date"></p>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<!-- content goes here -->
{% assign file_extension = page.path | split: '.' | last %} 
{% if file_extension == 'html' %}
  {% if page.theme == 'sains' %}
  <section
    data-background-image="{{ site.baseurl }}/dist/theme/img/background_dark.jpg"
    data-background-size="cover"
    data-background-repeat="no-repeat"
    data-markdown
    data-separator="^\n-next-\n$"
    data-separator-vertical="^\n-down-\n$"
    data-separator-notes="^Note:"
    data-charset="utf-8"
  >
  {% else %}
  <section
    data-markdown
    data-separator="^\n-next-\n$"
    data-separator-vertical="^\n-down-\n$"
    data-separator-notes="^Note:"
    data-charset="utf-8"
  >
  {% endif %}
    <script type="text/template">
      {{ content }}
    </script>
{% else %}
  <!-- For Markdown files -->
  <section
    data-markdown
    data-separator="^\n-next-\n$"
    data-separator-vertical="^\n-down-\n$"
    data-separator-notes="^Note:"
    data-charset="utf-8"
  ></section>
  <script type="text/template">
      {{ page.content }}
  </script>
{% endif %}
