<!-- first page -->
{% assign is_sains = page.theme == 'sains' %}
{% if is_sains %}
<section
  data-background-image="{{ site.baseurl }}/dist/theme/img/sains_bg_2.jpg"
  data-background-size="cover"
  data-background-repeat="no-repeat"
>
  <div class="container">
    <div class="col"></div>
    <div class="col">
      <h1 class="rightside">{{ page.title }}</h1>
      <br />
      {% if page.description %}
        <p class="rightside">🏷️ {{ page.description }}</p>
        <br />
      {% endif %}
      <hr />
      {% if page.location %}
        <p class="rightside">🏢 {{ page.location }}</p>
      {% endif %}
      {% if page.date %}
        <p class="rightside">📅 {{ page.date }}</p>
      {% else %}
        <p class="rightside" id="date"></p>
      {% endif %}
    </div>
  </div>
</section>
{% else %}
<section>
  <div class="container">
    <div class="col">
      <h1 class="rightside">{{ page.title }}</h1>
      <br />
      {% if page.description %}
        <p class="rightside">🏷️ {{ page.description }}</p>
        <br />
      {% endif %}
      <hr />
      {% if page.location %}
        <p class="rightside">🏢 {{ page.location }}</p>
      {% endif %}
      {% if page.date %}
        <p class="rightside">📅 {{ page.date }}</p>
      {% else %}
        <p class="rightside" id="date"></p>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<!-- content section -->
{% assign ext = page.path | split: '.' | last %}
{% assign is_html = ext == 'html' %}

{% if is_html %}
<section
  {% if is_sains %}
    data-background-image="{{ site.baseurl }}/dist/theme/img/background_dark.jpg"
    data-background-size="cover"
    data-background-repeat="no-repeat"
  {% endif %}
  data-markdown
  data-separator="^\n-next-\n$"
  data-separator-vertical="^\n-down-\n$"
  data-separator-notes="^Note:"
  data-charset="utf-8"
>
  <script type="text/template">
    {{ content }}
  </script>
</section>
{% else %}
<section
  {% if is_sains %}
    data-background-image="{{ site.baseurl }}/dist/theme/img/background_dark.jpg"
    data-background-size="cover"
    data-background-repeat="no-repeat"
  {% endif %}
  data-markdown
  data-separator="^---\n"
  data-separator-vertical="^--\n"
  data-separator-notes="^Note:"
  data-charset="utf-8"
>
  <script type="text/template">
    {% raw %}
{{ page.content }}
    {% endraw %}
  </script>
</section>
{% endif %}