<script src="{{ site.baseurl }}/dist/reveal.js"></script>
<script src="{{ site.baseurl }}/plugin/markdown/markdown.js"></script>
<script src="{{ site.baseurl }}/plugin/highlight/highlight.js"></script>
<script src="{{ site.baseurl }}/plugin/notes/notes.js"></script>
<script src="{{ site.baseurl }}/plugin/math/math.js"></script>
<script>
  n = new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate();
  document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
</script>
<script>
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    autoPlayMedia: false,
    touch: false,
    viewDistance: 3,
    slideNumber: "c/t",
    transition: "slide",
    math: {
      mathjax:
        "https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.min.js",
      config: "TeX-AMS_HTML-full", // See http://docs.mathjax.org/en/latest/config-files.html
      extensions: ["AMSmath.js"],
    },
    markdown: {
      smartypants: true,
    },
    plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.KaTeX],
  });
  
  Reveal.configure({ pdfMaxPagesPerSlide: 2 });

  // // Create and append the "Go to Home" button
  // const button = document.createElement("button");
  // button.innerText = "🏠";
  // button.className = "home-button";
  // button.onclick = function () {
  //   window.location.href = "{{ page.url | relative_url }}#/1";
  // };
  // document.body.appendChild(button);
</script>
